button {
    border: none;
    outline: none;
}
.button {
    border-radius: 4px;
    padding: 10px 29px;
    text-decoration: none;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    font-style: normal;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    @media (min-width: 991px) {
        &:hover {
            cursor: pointer;
        }
    }
    &.orange {
        background: var(--colorOrange);
        color: var(--colorWhite);
        font-weight: 400;
        transition: background-color .3s ease, color .3s ease;
        @media (min-width: 991px) {
            &:hover {
                background: var(--colorLightOrange);
                color: var(--colorBlack);
            }
        }
        a {
            font-style: normal;
            text-decoration: underline;
            color: #ffffff;
        }
        
    }
    &.blue {
        background: var(--colorDarkBlue);
        color: var(--colorWhite);
        min-height: 44px;
        transition: background-color .3s ease, color .3s ease;
        @media (min-width: 991px) {
            &:hover {
                background: var(--colorBlack);
                color: var(--colorWhite);
            }
        }
    }
    &.light-blue {
        background: var(--colorLightBlue);
        color: var(--txtColorDarkBlue);
        min-height: 44px;
        transition: background-color .3s ease, color .3s ease;
        @media (min-width: 991px) {
            &:hover {
                background: var(--colorBlue);
                color: var(--colorWhite);
            }
        }
    }
}
