.modal {
    background: var(--colorWhite);
    width: 60%;
    margin: 0 auto;
    position: relative;
    video {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
}
