.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .refresh {
        display: flex;
        align-items: center;
        font-size: 15px;
        color: var(--colorBlack);
        margin-bottom: 30px;
        cursor: pointer;
        
        .refresh-icon {
            width: 35px;
            height: 35px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
            &.loading {
                img {
                    animation: spin 2s linear infinite;
                }
            }
        }
    }
    
    .pagination {
        display: flex;
        align-items: center;
        gap: 5px;
        
        button,
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            background: none;
            color: var(--colorDarkBlue);
            font-size: 16px;
            line-height: normal;
            cursor: pointer;
            border-radius: 50%;
            &:not(:last-child) {
                margin-right: 5px;
            }
            &:hover {
                color: var(--colorWhite);
                background-color: var(--colorDarkBlue);
                svg {
                    path {
                        stroke: #ffffff;
                    }
                }
            }
            img {
                width: 35px;
                height: 35px;
            }
        }
        
        .active{
            color: var(--colorWhite);
            background-color: var(--colorDarkBlue);
        }
        
        .disabled {
            color: #ccc;
            border-color: #ccc;
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.6;
        }
        
        .dots {
            border: none;
            background: none;
            cursor: default;
        }
        
        hr {
            border: none;
            height: 2px;
            background-color: #007bff;
            margin-top: 10px;
            width: 100%;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
