.search-bar {
    //width: 100%;
    //position: relative;
    //z-index: 100;
    margin-left: 80px;
    width: calc(100vw - 270px);
    max-width: 500px;
    position: absolute;
    //right: 80px;
    right: 0;
    top: 13px;
    //transform: translateY(-50%);
    z-index: 6;
    @media (max-width: 1200px) {
        max-width: 100%;
        width: calc(100vw - 670px);
    }

    @media (max-width: 991px) {
        width: calc(100vw - 520px);
        //right: 36px;
        right: 0;
        top: 4px;
    }

    @media (max-width: 767px) {
        width: calc(100vw - 120px);
        //right: 20px;
        right: 0;
    }

    .selected-values {
        .tag {
            display: none;
        }
    }

    &.active {
        .search-bar__filter {
            height: auto;
            opacity: 1;
        }
        max-width: 100%;
        width: calc(100% - 245px);
        @media (max-width: 1439px) {
            width: calc(100% - 85px);
        }
        @media (max-width: 991px) {
            width: calc(100% - 70px);
        }
    

        .selected-values {
            .tag {
                display: flex;
            }
        }

        @media (max-width: 767px) {
            position: fixed;
            left: 0;
            top: 0;

            .search-bar__input {
                border-radius: 0;
                min-height: 86px;
            }

            .search-bar__filter-btns {
                flex-direction: column;
            }
        }

        @media (max-width: 767px) {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            margin-left: 0;
            right: auto;
            transform: none;
        }
    }

    &.search-input {
        padding: 12px 24px;
        border-radius: 24px;
        background-color: var(--colorWhite);
        display: flex;
        align-items: center;

        &::placeholder {
            color: var(--txtColorDarkBlue);

        }
    }

    &__input {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding: 12px 24px;
        border-radius: 24px;
        background-color: var(--colorWhite);
        min-height: 44px;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 19px;
            height: 19px;
            position: absolute;
            right: 24px;

            img {
                max-width: 100%;
            }
        }
    }

    &__input-box {
        display: flex;
        align-items: center;
        flex-grow: 1;
        //height: 39px;
    }

    &__filter {
        height: 0;
        opacity: 0;
        position: absolute;
        top: calc(100% + 8px);
        width: 100%;
        border-radius: 0 0 4px 4px;
        padding: 24px;
        box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.15);
        background: #fff;
        overflow: hidden;

        &-item {
            &:not(:last-child) {
                margin-bottom: 24px;
            }

            .title {
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: var(--txtColorDarkBlue);

                &:after {
                    content: "";
                    position: absolute;
                    right: 6px;
                    width: 9px;
                    height: 20px;
                    transform: rotate(-90deg);
                    transition: transform 0.3s;
                    background: url("./../img/i_arrow.svg") no-repeat center center;
                    animation: none;
                }

                &.active:after {
                    transform: rotate(90deg);
                }

                .icon {
                    display: block;
                    height: 22px;
                    width: 22px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin-right: 8px;
                }

                .label {
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }

        .options {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s, opacity 0.3s;
            opacity: 0;

            &.active {
                opacity: 1;
                //max-height: 1000px;
            }

            &__list {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                padding-top: 24px;

                &-item {

                    transition: background-color .3s, color .3s;
                    position: relative;
                    border-radius: 500px;
                    overflow: hidden;

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            .label {
                                cursor: pointer;
                                //background: var(--colorBlue);
                                //color: var(--colorWhite);
                            }
                        }

                        .label {
                            min-width: 108px;
                            padding: 7px 15px;
                            font-weight: 400;
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: var(--txtColorDarkBlue);
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: #cfcfcf;
                            transition: background-color 0.3s ease;

                        }

                        input {
                            display: none; // Приховуємо сам чекбокс
                        }

                        input:checked+span.label {
                            background-color: var(--colorLightBlue); // Колір для "checked"
                            //&:hover {
                            //    background: var(--colorBlue);
                            //    color: var(--colorWhite);
                            //}
                        }
                    }

                    &.active {
                        background-color: var(--colorLightBlue);
                    }

                }
            }
        }

        &-btns {
            display: flex;
            gap: 13px;

            button {
                min-height: 40px !important;
                height: 40px;
                padding: 11px 54px;
            }
        }
    }
}

.selected-values {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
    width: 100%;
}

.tag {
    background-color: var(--colorLightBlue);
    padding: 0 0 0 20px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;

    &__delete {
        padding: 10px;
        margin-left: 2px;
        margin-right: 10px;
        width: 11px;
        height: 11px;
        background-repeat: no-repeat;
        background-size: 53%;
        background-position: center center;

        &:hover {
            cursor: pointer;
        }
    }
}
