.share-menu {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__list {
        opacity: 0;
        height: 0;
        padding: 5px;
        position: absolute;
        width: 240px;
        background: linear-gradient(180deg, rgba(106, 162, 208, .95) 0, rgba(65, 124, 172, .95) 100%);
        border-radius: 20px;
        top: 100%;
        right: 0;
        overflow: hidden;
        &.active {
            opacity: 1;
            height: 138px;
        }
        &-item {
            border-radius: 20px;
            padding: 6px 8px 6px 8px;
            color: var(--colorWhite);
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover {
                background: var(--colorDarkBlue);
            }
            .label {
                font-size: 15px;
            }
            .icon {
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
}
