*,
*::before,
*::after {
	box-sizing: border-box;
	line-height: normal;
}
* {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 15px;
	line-height: 17.58px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

html,
body {
	min-height: 100%;
	position: relative;
	width: 100%;
	overflow-x: hidden; /* Забороняє горизонтальний скролінг */
	-webkit-text-size-adjust: 100%; /* Забороняє зміну розміру тексту */
	-ms-text-size-adjust: 100%; /* Забороняє зміну розміру тексту для IE */
	&.noScroll {
		height: 100vh;
		overflow: hidden;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	&.noScroll {
		overflow: hidden;
		height: 100vh;
	}
}
.page {
	flex: 1;
	padding-top: 44px;
	padding-bottom: 100px;
	&__content {
		display: flex;
		justify-content: space-between;
	}
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 80px;
	@media (max-width: 991px) {
		padding: 0 36px;
	}
	@media (max-width: 767px) {
		padding: 0 20px;
	}
}
.main {
	flex: 1;
	padding-top: 44px;
	padding-bottom: 100px;
	position: relative;
	transition: background-color .2s ease;
	&.blur {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			filter: blur(49px);
			background: rgba(217, 217, 217, 0.45);
			z-index: 5;
		}
	}
	@media (max-width: 767px) {
		padding-top: 55px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
}
.content-box {
	width: calc(100% - 324px);
	@media (max-width: 767px) {
		width: 100%;
	}
	&__title {
		margin-bottom: 32px;
		@media (max-width: 767px) {
			font-size: 26px;
			margin-bottom: 55px;
		}
	}
	.list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
		gap: 20px;
		margin-bottom: 44px;
		@media (max-width: 767px) {
			gap: 12px;
		}
	}
}
.showOnMobile {
	display: none!important;
	@media (max-width: 767px) {
		display: flex!important;
	}
}
input {
	appearance: none;
}
.notification {
	display: flex;
	align-items: center;
	
	.icon {
		display: block;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		margin-right: 10px;
	}
	position: fixed;
	top: 10px;
	width: 365px;
	right: -365px;
	
	color: white;
	padding: 10px 20px;
	border-radius: 5px 0 0 5px;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	transition: transform 0.5s ease, right 0.5s ease;
	&.show {
		right: 0;
	}
	&.info {
		background: linear-gradient(180deg,rgba(106,162,208,.95) 0,rgba(65,124,172,.95) 100%);
	}
	&.error {
		background: linear-gradient(180deg, rgb(255 89 89) 0, rgb(229 12 12 / 95%) 100%)
	}
	@media (max-width: 767px) {
		font-size: 14px;
	}
}
