:root {
  --colorBlack: #040404;
  --colorWhite: #FFFFFF;
  --colorRed: #FF5959;
  --colorBlue: #3397E8;
  --colorLightBlue: #93C8F3;
  --colorDarkBlue: #2B5679;
  --colorOrange: #FF7B00;
  --colorLightOrange: #FFBB6B;
  --colorBlue: #E0F1FE;
  //text color
  --txtColorBlack: #040404;
  --txtColorDarkBlue: #1B3346;
  --txtColorBlue: #3397E8;
  --txtColorRed: #FF5959;
}