<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo">
                <a href="/" class="footer__logo-img">
                    <img src="img/sprite.svg#logo" alt="logo">
                </a>
            </div>
            <ul class="footer__social-list">
                <li class="footer__social-list-item">
                    <a href="/" >
                        <img src="img/sprite.svg#i_telegram" alt="i-telegram">
                    </a>
                </li>
                <li class="footer__social-list-item">
                    <a href="/" >
                        <img src="img/sprite.svg#i_viber" alt="i-viber">
                    </a>
                </li>
                <li class="footer__social-list-item">
                    <a href="/" >
                        <img src="img/sprite.svg#i_facebook" alt="i-facebook">
                    </a>
                </li>
                <li class="footer__social-list-item">
                    <a href="/" >
                        <img src="img/sprite.svg#i_mail" alt="i-mail">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @@include('./../ui/modals/video-modal.html')
    <div id="notificationInfo" class="notification info"><span class="icon --svg__i_info"></span>Посилання скопійовано</div>
    <div id="notificationError" class="notification error"></div>
    <div id="notificationWarning" class="notification warning"></div>
</footer>
