<div class="reviewed">
    <div class="reviewed__header">
        <div class="reviewed__title">Нещодавно переглянуті</div>
        <div class="reviewed__slider-navigation">
            <div class="reviewed__slider-prev --svg__arrow"></div>
            <div class="reviewed__slider-next --svg__arrow"></div>
        </div>
    </div>
    <div class="reviewed__slider-wrap">
        <div class="reviewed__slider">
            <div class="reviewed__slider-item">
                @@include('../ui/card.html')
            </div>
            <div class="reviewed__slider-item">
                @@include('../ui/card.html')
            </div>
            <div class="reviewed__slider-item">
                @@include('../ui/card.html')
            </div>
            <div class="reviewed__slider-item">
                @@include('../ui/card.html')
            </div>
            <div class="reviewed__slider-item">
                @@include('../ui/card.html')
            </div>
            <div class="reviewed__slider-item">
                @@include('../ui/card.html')
            </div>
        </div>
    </div>
</div>
