.filter-buttons {
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 0;
    @media (max-width: 991px) {
        padding: 21px 0;
    }
    @media (max-width: 767px) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        z-index: 10;
        border-bottom: 1px solid #d3d3d3;
        border-top: 0.25px solid #d3d3d3;
        padding: 0;
        box-shadow: 0 -1px 4px 0 rgba(12, 12, 13, 0.05);
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 0;
        overflow: hidden;
        transition: padding 0.3s ease, height 0.3s ease;
    }
    &.showOnMobile {
        padding: 10px;
        height: 64px;
        transition: padding 0.3s ease, height 0.3s ease;
    }
    
    button {
        height: 42px;
        border-radius: 25px;
        padding: 0 20px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        font-style: normal;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        background-color: var(--colorBlue);
        border: 1px solid var(--colorBlue);
        color: var(--colorDarkBlue);
        transition: color .3s ease;
        @media (min-width: 768px) {
            background-color: transparent;
            border: none;
            position: relative;
            color: var(--colorWhite);
            &:after {
                position: absolute;
                content: "";
                height: 4px;
                width: 100%;
                left: 0;
                bottom: -30px;
                border-radius: 2px 2px 0 0;
                background-color: transparent;
                @media (max-width: 991px) {
                    bottom: -21px;
                }
            }
        }
        
        svg {
            width: 24px;
            height: 24px;
            margin-right: 16px;
            fill: var(--colorDarkBlue);
            @media (min-width: 768px) {
                display: none;
            }
            @media (max-width: 767px) {
                margin-right: 4px;
            }
        }
        
        &:hover,
        &.active {
            cursor: pointer;
            //border: 1px solid var(--colorWhite);
            //background-color: var(--colorDarkBlue);
            @media (min-width: 768px) {
                color: var(--colorOrange);
                transition: color .3s ease;
            }
            
            //svg {
            //    filter: brightness(0) invert(1);
            //}
            @media (min-width: 768px) {
                &:after {
                    background-color: var(--colorOrange);
                }
            }
        }
        @media (max-width: 767px) {
            background: transparent;
            border: none;
            padding: 0 15px;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
        }
    }
    .vertical-divider {
        display: none;
        @media (max-width: 767px) {
            width: 1px;
            height: 42px;
            background: #B6B6B6;
            display: block;
        }
    }
}
.filter-tabs {
    display: none;
    @media (max-width: 767px) {
        display: flex;
        width: 100%;
        border: 1px solid #BBB;
        border-radius: 4px;
        padding: 4px;
        gap: 8px;
    }
    .filter-tab {
        height: 35px;
        border-radius: 4px;
        padding: 0 16px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        font-style: normal;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        transition: all .3s ease;
        width: 100%;
        
        &.active {
            cursor: pointer;
            border: 1px solid var(--colorWhite);
            background-color: var(--colorDarkBlue);
            color: var(--colorWhite);
            transition: all .3s ease;
        }
    }
}

.filter-results {
    position: absolute;
    background: #fff;
    z-index: 20;
    top: 100%;
    border-radius: 6px;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 0 16px;
    max-height: 448px;
    overflow-y: auto;
    display: none;
    min-width: 359px;
    //@media (max-width: 992px) {
    //    top: 63px;
    //}
    
    @media (max-width: 767px) {
        display: none;
        position: fixed;
        width: 100vw;
        height: calc(100vh - 84px);
        left: 0;
        top: 90px;
        padding: 20px;
        max-height: 100%;
        box-shadow: none;
    }
    &.open {
        display: block;
    }
    &.open-sell {
        left: 0;
    }
    &.open-rent {
        left: 114px;
        @media (max-width: 767px) {
            left: 0;
        }
    }
}
.result-list {
    display: none;
    overflow-y: auto;
    &__item {
        padding: 16px 16px 16px 0;
        border-bottom: 1px solid #d3d3d3;
        font-size: 15px;
        color: var(--txtColorDarkBlue);
        display: flex;
        align-items: center;
        gap: 8px;
        &-icon {
            width: 24px;
            height: 24px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        span {
            display: flex;
            align-items: center;
        }
        &:hover {
            cursor: pointer;
            color: #5D86A8;
        }
    }
    &.show {
        display: block;
    }
}

.close-btn {
    display: none;
    @media (max-width: 767px) {
        height: 18px;
        width: 18px;
        margin-bottom: 16px;
        display: block;
    }
}
