.footer {
    background-color: var(--colorDarkBlue);
    padding: 16px 80px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width: 991px) {
        padding: 16px 36px;
    }
    &__logo {
        display: flex;
        width: 70px;
        align-items: center;
        @media (max-width: 991px) {
            width: 47px;
        }
    }
    &__logo-img {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
        }
    }
    
    &__social-list {
        display: flex;
        &-item {
            display: flex;
            justify-content: center;
            &:not(:last-child) {
                margin-right: 13px;
            }
            a {
                display: flex;
                align-items: center;
                img {
                    width: 34px;
                }
            }
        }
    }
}
