.header {
    background-color: var(--colorDarkBlue);
    padding: 16px 0;

    .container {
        position: relative;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    @media (max-width: 991px) {
        padding: 16px 0;
    }

    &__logo {
        display: flex;
        max-width: 70px;
        display: flex;
        align-items: center;

        @media (max-width: 991px) {
            max-width: 52px;
        }
    }

    &__logo-img {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            display: block;
            width: 100%;
        }
    }

    &__search-bar {
        display: flex;
        align-items: center;
        width: calc(100vw - 270px);
        max-width: 500px;

        &:not(.active) {}

    }

    .filter-buttons {
        display: flex;
        align-items: center;
        gap: 16px;

        button {
            height: 42px;
            border-radius: 25px;
            padding: 0 29px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
            display: inline-flex;
            align-items: center;
            font-style: normal;
            justify-content: center;
            font-family: "Roboto", sans-serif;
            background-color: var(--colorBlue);
            border: 1px solid var(--colorBlue);
            transition: all .3s ease;

            img {
                width: 24px;
                height: 24px;
                margin-right: 16px;
            }

            &:hover {
                cursor: pointer;
                border: 1px solid var(--colorWhite);
                background-color: var(--colorDarkBlue);
                color: var(--colorWhite);
                transition: all .3s ease;

                img {
                    fill: var(--colorWhite);
                }
            }
        }
    }
}