.header {
    background-color: var(--colorDarkBlue);
    padding: 16px 0;
    z-index: 11;

    .container {
        position: relative;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        position: relative;
    }

    @media (max-width: 991px) {
        padding: 16px 0;
    }

    &__logo {
        display: flex;
        max-width: 70px;
        display: flex;
        align-items: center;

        @media (max-width: 991px) {
            max-width: 52px;
        }
    }

    &__logo-img {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            display: block;
            width: 100%;
        }
    }

    &__search-bar {
        display: flex;
        align-items: center;
        width: calc(100vw - 270px);
        max-width: 500px;

        &:not(.active) {}

    }
}
