.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ebeef4;
    &__container {
        background-color: var(--colorWhite);
        padding: 32px 24px;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 450px;
        text-align: center;
        margin: 0 20px;
    }
    &__logo {
        width: 70px;
        margin-bottom: 14px;
        @media (max-width: 767px) {
            width: 50px;
        }
    }
    
    &__title {
        font-size: 24px;
        margin-bottom: 30px;
        @media (max-width: 767px) {
            font-size: 22px;
        }
    }
    &__form {
        &-line {
            margin-bottom: 20px;
            text-align: left;
        }
        
        .remember-me {
            display: flex;
            align-items: center;
            
            input {
                margin-right: 10px;
            }
        }
        .button {
            width: 100%;
        }
    }
}

