<div class="pagination-container">
    <div class="refresh">
        <!--You can use class "refresh-icon loading"-->
        <div class="refresh-icon">
            <img src="img/sprite.svg#i_refresh" alt="i_refresh">
        </div>
        Дивитись наступні
    </div>
    <div class="pagination">
        <button class="prev-ten disabled">
            <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 1L1 10.0008L8 19" stroke="#1B3346" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 1L1 10.0008L8 19" stroke="#1B3346" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <button class="prev disabled">
            <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 1L1 10.0008L8 19" stroke="#1B3346" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <span class="dots">...</span>
        <button>12</button>
        <button class="next">
            <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 19L8 9.99919L1 1" stroke="#1B3346" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <button class="next-ten">
            <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 19L8 9.99919L1 1" stroke="#1B3346" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 19L8 9.99919L1 1" stroke="#1B3346" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>
</div>
