<div class="share-menu js-share-btn">
    <img src="img/sprite.svg#i_share" alt="Поділитися">
    <ul class="share-menu__list">
        <li class="share-menu__list-item">
            <span class="label">Скопіювати посилання</span>
            <span class="icon --svg__i_link"></span>
        </li>
        <li class="share-menu__list-item">
            <span class="label">Viber</span>
            <span class="icon --svg__i_viber"></span>
        </li>
        <li class="share-menu__list-item">
            <span class="label">Telegram</span>
            <span class="icon --svg__i_telegram"></span>
        </li>
        <li class="share-menu__list-item">
            <span class="label">Facebook</span>
            <span class="icon --svg__i_facebook"></span>
        </li>
    </ul>
</div>
